@model Credit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditAbbrev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditAbbrev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSpring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFall)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CreditID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
