@model IEnumerable<Credit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CreditAbbrev"]">@Html.DisplayNameFor(model => model.CreditAbbrev)</a>
                </th>
                <th>

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CreditName"]">@Html.DisplayNameFor(model => model.CreditName)</a>
                </th>
                <th>

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IsSummer"]">@Html.DisplayNameFor(model => model.IsSummer)</a>
                </th>
                <th>

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IsSpring"]">@Html.DisplayNameFor(model => model.IsSpring)</a>
                </th>

                <th>

                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IsFall"]">@Html.DisplayNameFor(model => model.IsFall)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Done)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditAbbrev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSpring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Done)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CreditID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CreditID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CreditID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
