@model IEnumerable<DegreeCredit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.DegreeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit.CreditID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreeCreditID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreeCreditID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreeCreditID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
