@model IEnumerable<Slot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreePlanID"]">@Html.DisplayNameFor(model => model.DegreePlanID)</a>
                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Term"]">@Html.DisplayNameFor(model => model.Term)</a>
                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreditID"]">@Html.DisplayNameFor(model => model.CreditID)</a>
                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Status"]">@Html.DisplayNameFor(model => model.Status)</a>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SlotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SlotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SlotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
