@model IEnumerable<dotnetproject.Models.StudentTerm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.DegreePlanId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TermSortParm"]"> @Html.DisplayNameFor(model => model.Term)</a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TermAbbrev"]"> @Html.DisplayNameFor(model => model.TermAbbrev)</a>
</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TermName"]"> @Html.DisplayNameFor(model => model.TermName)</a>
</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentTermID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentTermID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentTermID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
