@model DegreePlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DegreePlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeAbbrev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeAbbrev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreePlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreePlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree.DegreeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.String)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.String)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreePlanAbbrev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreePlanAbbrev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DereePlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DereePlanName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreePlanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
