@model IEnumerable<DegreePlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeAbbrev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreePlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.String)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreePlanAbbrev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DereePlanName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.DegreeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.String)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanAbbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DereePlanName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreePlanID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreePlanID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreePlanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
